#page-body {
  margin: 30px;

  p {
    text-align: center;
    margin-top: 10px;
    font-size: 25px;
    font-family: Rajdhani, Veranda, sans-serif;

    strong {
      font-weight: 700;
    }

    em {
      font-style: italic;
    }
  }
}
