#page-header {
  height: 45vh;
  text-align: center;
  .gradient(linear; @sunset-orange, @sunset-pink 35%, @sunset-blue);

  .sun {
    display: block;
    width: 150px;
    height: 150px;
    background-color: @sun-yellow;
    .border-radius(75px);
  }

  h1 {
    color: @white;
    margin-top: 40px;
    font-size: 48px;
    font-family: Brynne;
  }
}
