#page-header {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;

  height: 50vh;
  min-height: 400px;
  text-align: center;
  .gradient(linear; @sunset-orange, @sunset-pink 35%, @sunset-blue);

  .sun {
    display: block;
    margin-top: 40px;
    width: 150px;
    height: 150px;
    background-color: @sun-yellow;
    .border-radius(75px);
  }

  h1 {
    color: @white;
    font-family: Brynne;
    font-size: 48px;
    line-height: 48px;

    @media @mobile {
      font-size: 35px;
      line-height: 35px;
    }
  }

  .mountains {
    display: block;
    width: 270px;
    height: 75px;
    background: url(../../images/mountains.svg);
    background-size: 270px 75px;
  }
}
