.project-list-item {
  margin-bottom: 40px;

  .project-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    cursor: pointer;;

    .content-column({
      margin: 0 auto;
    });

    &:hover {
      .project-shelf-open {
        opacity: 0.75;
      }
    }
  }

  .project-shelf-top {
    margin-top: 12px;
    img {
      height: 50px;
      width: auto;
    }
  }

  .project-shelf-open {
    width: 36px;
    height: 60px;
    background-image: url('../../images/sprites/chevron.svg');
    background-repeat: no-repeat;
    background-size: 36px 60px;
    opacity: 0.5;
    .transition(opacity);
  }

  .project-synopsis-wrapper {
    position: relative;
    .inner-shadow(0, 1px, 12px, 0, 0.15);

    .project-synopsis {
      padding: 14px 0;
      position: relative; // for z-indexing with textures

      .content-column({
        margin: 0 auto;
      });
    }

    &::before {
      .texture(
        '../images/sprites/box-texture-mask.png';
        @black;
        100px 65px;
        top left;
        repeat-x, no-repeat
      );

      opacity: 0.1;
    }

    &::after {
      .texture(
        '../images/sprites/box-texture-mask.png';
        @black;
        100px 65px;
        top left;
        repeat-x, no-repeat
      );

      opacity: 0.1;
      transform: rotate(180deg);
    }
  }
}
