#footer-container {
  padding-bottom: 20px;
  .gradient(linear; @sunset-pink, @sunset-orange);

  .mountains {
    display: block;
    fill: @white;
    margin: auto;
    transform: rotate(180deg);
  }
}
