@font-face {
  font-family: "Brynne";
  src: url("../fonts/Brynne/Brynne.woff") format("woff"),
    url("../fonts/Brynne/Brynne.eot") format("embedded-opentype"),
    url("../fonts/Brynne/Brynne.ttf") format("truetype");
}

h1 {
  font-family: Brynne;
}
