// Colors
@white: #FFF;
@black: #000;
@half-gray: #777;
@sun-hi-yellow: #fff442;
@sun-lo-yellow: #f5c12d;
@sunset-orange: #FF9105;
@sunset-pink: #DA3588;
@sunset-blue: #13007A;
@sunset-texture: rgba(255, 247, 0, 0.2);

// Breakpoints
// Source: https://medium.freecodecamp.org/the-100-correct-way-to-do-css-breakpoints-88d6a5ba1862
@mobile: 599px;
@tablet-portrait: 600px;
@tablet-landscape: 900px;
@desktop: 1200px;
@desktop-xl: 1800px;
